{% extends 'base.html.twig' %}

{% block title %}cMa | Register{% endblock %}

{% block body %}


    {% for flashError in app.flashes('verify_email_error') %}
        <div class="flash__error alert alert-danger flash nav_glass text-dark text-center fs-5" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="row top-50">
        <div class="col-sm-6 col-md-4 col-lg-3 m-auto">

            <div class="custom_glass">
                <h1 class="h2 mt-4 mb-4 text-center font-weight-normal">Register</h1>

                {{ form_start(registrationForm, {"attr": {"class": "form_glass", "novalidate": "novalidate"}}) }}

                <div class="mb-3">
                    {{ form_row(registrationForm.email) }}
                </div>

                <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword.first) }}
                </div>

                <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>

                {# <div class="mx-3">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div> #}

                <div class="d-grid mt-5">
                    <button type="submit" class="btn log_btn rounded shadow-sm px-4 border">Register Meeee !</button>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}">

                {{ form_end(registrationForm) }}
            </div>

        </div>
    </div>


{% endblock %}
