<div class="container-fluid">
    {{ form_start(form) }}
    <div class="row my-3">
        <div class="col">
            {{ form_label(form.nom_entreprise) }}
            {{ form_widget(form.nom_entreprise) }}
            {{ form_errors(form.nom_entreprise) }}
        </div>
        <div class="col">

            {{ form_label(form.localisation_entreprise) }}
            {{ form_widget(form.localisation_entreprise) }}
            {{ form_errors(form.localisation_entreprise) }}
        </div>
        <div class="col">
            {{ form_label(form.poste_recherche) }}
            {{ form_widget(form.poste_recherche) }}
            {{ form_errors(form.poste_recherche) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_label(form.lien_candidature) }}
            {{ form_widget(form.lien_candidature) }}
            {{ form_errors(form.lien_candidature) }}
        </div>
        <div class="col">
            {{ form_label(form.nature_candidature) }}
            {{ form_widget(form.nature_candidature) }}
            {{ form_errors(form.nature_candidature) }}
        </div>
        <div class="col">
            {{ form_label(form.date_candidature) }}
            {{ form_widget(form.date_candidature) }}
            {{ form_errors(form.date_candidature) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_label(form.email_contact) }}
            {{ form_widget(form.email_contact) }}
            {{ form_errors(form.email_contact) }}
        </div>
        <div class="col">
            {{ form_label(form.technos) }}
            {{ form_widget(form.technos) }}
            {{ form_errors(form.technos) }}
        </div>
        <div class="col">
            {{ form_label(form.remarques) }}
            {{ form_widget(form.remarques) }}
            {{ form_errors(form.remarques) }}
        </div>
        <p>
            <small><strong>* : Champs obligatoires</strong></small>
        </p>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('application') }}">

    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-info shadow px-5" type="submit">Ajouter</button>
    </div>

    {{ form_end(form) }}
</div>