{% extends 'base.html.twig' %}

{% block title %}Applications | Register{% endblock %}

{% block body %}

    <div class="text-center" style="margin-top: 5rem; margin-bottom: 3rem;">
        <h1>Liste des Candidatures</h1>
        <button type="button" class="btn btn-info px-4" data-bs-toggle="modal" data-bs-target="#applicationModal">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <div class="applications p-4">

        <table class="table table-hover table-stripped table-responsive">
            <thead class="table-dark">
            <tr>
                <th scope="col">Nom Entreprise</th>
                <th scope="col">Localisation</th>
                <th scope="col">Poste Recherché</th>
                <th scope="col">Lien de l'annonce</th>
                <th scope="col">Nature Candidature</th>
                <th scope="col">Date Candidature</th>
                <th scope="col">Email de Contact</th>
                <th scope="col">Technos</th>
                <th scope="col">Remarques</th>
            </tr>
            </thead>
            <tbody class="table-stripped">
            {% for application in applications %}
                <tr>
                    <td class="text-underline-none fw-bold"><a href="{{ path('app_application_show', {'id': application.id}) }}">{{ application.nomEntreprise | upper }}</a></td>
                    <td>{{ application.localisationEntreprise }}</td>
                    <td>{{ application.posteRecherche }}</td>
                    <td><a href="{{ application.lienCandidature }}">{{ application.lienCandidature | u.truncate(15, '...')  }}</a></td>
                    <td>{{ application.natureCandidature }}</td>
                    <td>{{ application.dateCandidature | date('d/m/Y') }}</td>
                    <td>{{ application.emailContact }}</td>
                    <td>{{ application.technos }}</td>
                    <td>{{ application.remarques | u.truncate(12, '..', false) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    {% include '_partials/_modal.html.twig' %}


{% endblock %}

