{% extends 'base.html.twig' %}

{% block title %}{{ application.nomEntreprise }} | cMa{% endblock %}

{% block body %}

    <div class="text-center" style="margin-top: 5rem; margin-bottom: 3rem;">

        <h1 class="mb-3">{{ application.nomEntreprise }}</h1>

        {% include "application/_partials/_button_modal.html.twig" with {button_icon: "fas fa-pen", button_title: "Edit"} %}

    </div>


    <div class="row">
        <div class="col-8 m-auto">

            <div class="mb-1">
                <a class="links" href="{{ path('app_application') }}">
                    <i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i> Back
                </a>
            </div>

            <ul class="list-group list-group-flush list_glass">
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Nom Entreprise : </strong>
                    {{ application.nomEntreprise }}
                </li>
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Localisation : </strong>
                    {{ application.localisationEntreprise }}
                </li>
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Poste Recherché : </strong>
                    {{ application.posteRecherche }}
                </li>
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Lien de l'annonce : </strong>
                    <a href="{{ application.lienCandidature }}" target="_blank"
                       rel="noopener noreferrer">{{ application.lienCandidature }}</a>
                </li>
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Nature Candidature : </strong>
                    {{ application.natureCandidature }}
                </li>
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Date Candidature : </strong>
                    {{ application.dateCandidature | date('d/m/Y') }}
                </li>
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Email de Contact : </strong>
                    {{ application.emailContact }}
                </li>
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Technos : </strong>
                    {{ application.technos }}
                </li>
                <li class="list-group-item py-3 list_glass-items">
                    <strong>Remarques : </strong>
                    {{ application.remarques }}
                </li>
            </ul>

            <div class="text-center mt-5">
                <button type="button" class="btn custom_button_glass red" data-mdb-toggle="modal"
                        data-mdb-target="#deleteModal">
                    Delete
                </button>
            </div>

        </div>
    </div>

    {# Delete Modal #}
    {% include 'application/_partials/_delete_modal.html.twig' %}

    {# Application Modal #}
    {% include 'application/_partials/_form_modal.html.twig' %}


{% endblock %}